
@import url('https://fonts.googleapis.com/css?family=Oldenburg');


@media only screen and (max-width: 799px) {
    body {
        background-color: rgb(124, 213, 243); 
    }
    div.menor{
        display: block;
    }
    div.mayor{
        display:none;
    }
    
}
@media only screen and (min-width: 799px) {
    body {
        background-color:blue; 
    }
    div.mayor{
        display:block;
     }
    div.menor{
        display:none;
    }

}

div.menor{
    font-size: 7em;
    color: rgb(245, 37, 106);
}
div.mayor{
     font-size: 6em;
     color:rgb(0, 255, 76);
    }
/* ejercicio de los circulos hechos con bootsrap*/
div.circulos {
                /* margin: auto; */ 
                width: 100px;
                height: 100px;
                line-height: 100px;
                background-color: darkblue;
                text-align: center;
                border: 2px solid black;
                font-weight: bold;
                font-size: 50px;
                color: white;
                border-radius: 50%;
                display:inline-block;
              }

/* ejercicio 7 con bootstrap */

img.mono{
        border: black;
        border-style: double;
        border-spacing: 50px;
        padding: 10px;
        align-content:center;}

img.mono2{
         border: black;
         border-style: double;
         border-spacing: 50px;
         padding: 10px;
        align-content: center;
        }


